<script setup>
import { ref } from 'vue'

const msg = ref('<%= msg %>')
</script>

<template>
  <div class="app">
    <h1>{{ msg }}</h1>
  </div>
</template>

<style <% if (cssPreprocessor !== 'CSS') { %>lang="<%= styleLang %>"<% } %>>
.app {
  color: #42b983;
}
.greeting {
  <% if (cssPreprocessor === 'Sass/SCSS') { %>
  &-text {
    color: blue;
  }
  <% } else { %>
  color: red;
  <% } %>
}
</style>